#header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
  
    .section {
      &-username {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: 15px;
        padding: 0 !important;
        background: none;
        border: 0;
        &:focus-visible {
          box-shadow: none;
        }
        .image-profile {
          margin: auto 10px;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          @include boxShadowWithColor($boxShadowColor);
        }
        .name {
          font-size: 16px;
          margin: 0;
          color: $darkBlue;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }
  }
  