.email-popup {
    .modal .fade .show {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  
    .modal.fade .modal-dialog {
      margin-right: auto !important;
      transform: none;
      margin-top: initial;
      margin-bottom: initial;
    }
  
    .div-close-popup {
      // position: unset;
      display: flex !important;
      justify-content: flex-end !important;
      align-items: center !important;
    }
  
    .icon-close {
      margin-top: 1%;
      margin-right: 1%;
      height: 1.5em;
      width: 1.5em;
      background-color: red;
      color: #ffffff;
      // border-radius: 5px;
    }
  
    .mail-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
  
      .send-mail {
        width: 30%;
        height: 35px;
        background: $backgroundButtons;
        box-shadow: $shadowButtons;
        border-color: transparent;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        // font-size: 19px;
        line-height: 18px;
        color: #ffffff;
        margin-bottom: 5%;
      }
    }
  }