.hunter-form {
  .row {
    justify-content: center;
  }
  .form-control,
  .form-control:focus,
  .eye-icon,
  select,
  .hunter-select {
    font-size: 16px;
    color: $black;
    border-radius: 0;
    border: 2px solid $darkPurple !important;
    border-radius: 8px;
    margin: 10px auto;
    // border-bottom: 2px solid $darkGrey !important;
    background-color: transparent;
    &.invalid {
      border-width: 0;
      border-bottom: 2px solid $red !important;
    }
  }
  .hunter-select {
    padding: 0;
    background-color: transparent;
    > div,
    > div:hover {
      border-width: 0 !important;
      box-shadow: none;
    }
    .css-13cymwt-control {
      border-radius: 8px;
    }
  }
  input {
    &:focus {
      box-shadow: none;
    }
    &[type="password"] {
      border-right-width: 0 !important;
    }
    &:disabled {
      cursor: not-allowed !important;
      background-color: $disabledGrey;
      color: $darkGrey !important;
    }
  }

  .eye-icon {
    border-left-width: 0 !important;
  }
  .error-message {
    color: $red;
  }
  .form-label {
    color: $darkBlue;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .btn {
    &-update {
      width: 40%;
      margin: 10px auto;
      @include btn-style($lightGrey, $lightPurple2, center, 20px, $lightGrey, 0);
      @include media-query(mobile, tablet) {
        width: auto;
      }
      &:disabled {
        cursor: not-allowed !important;
      }
    }
  }
  &#update-password {
    .input-group {
      padding: 0;
    }
  }
  &#update-profile {
    .profile-image-uploader {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-query(mobile) {
      }
      .image-preview {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: visible;
        border-radius: 50%;
        @include media-query(mobile) {
          width: 152px;
          height: 152px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .custom-file-upload {
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 0%;
          z-index: 1;
          transform: rotate(-13.8deg);
          padding: 6px;
          cursor: pointer;
          border-radius: 50%;
          width: 37px;
          height: 37px;

          background: $darkPurple;
          color: $white;
          font-size: 16px;
          transition: all 0.2s;

          &:hover {
            background: $lightPurple;
            color: $white;
          }
        }

        input[type="file"] {
          display: none;
        }
        input[type="date"] {
          &::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            display: block;
            background: black no-repeat;
            width: 25px;
            height: 25px;
            border-width: thin;
          }
        }
      }
    }
  }
}
#update-profile {
  .nav-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: 0 !important;
    .nav-item {
      width: 25%;
      margin: auto 20px;
      text-align: center;
      @include media-query(mobile, tablet) {
        width: auto;
        margin: 10px;
      }
      .nav-link {
        font-size: 18px;
        font-weight: 600;
        color: $darkBlue;
        border-radius: 10px !important;
        &.active {
          background: $linearGradientPurple259Deg;
          color: $white;
        }
      }
    }
  }
  .tab-pane {
    margin-top: 20px;
    background-color: $white;
    padding: 20px;
    border-radius: 18px;
    @include boxShadowWithColor($boxShadowColor);
  }
}
