
  

  
  //  --------- media-query --------
  $media-queries: (
    extraLargeScreens: (
      breakpoint: "(min-width: 1201px)",
    ),
    desktop: (
      breakpoint: "(min-width: 1025px) and (max-width: 1200px)",
    ),
    laptops: (
      breakpoint: "(min-width: 769px) and (max-width: 1024px)",
    ),
    tablet: (
      breakpoint: "(min-width: 480px) and (max-width: 768px)",
    ),
    mobile: (
      breakpoint: "(min-width: 320px) and (max-width: 480px)",
    ),
  );
  
  @mixin boxShadow() {
    box-shadow: 16px 10px 19px rgba(0, 0, 0, 0.09),
      4px 3px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  @mixin navBoxShadow() {
    box-shadow: 21px 70px 29px rgba(0, 23, 81, 0.01),
      12px 39px 25px rgba(0, 23, 81, 0.03), 5px 17px 18px rgba(0, 23, 81, 0.04),
      1px 4px 10px rgba(0, 23, 81, 0.05), 0px 0px 0px rgba(0, 23, 81, 0.05);
  }
  
  @mixin formControl() {
    &:focus {
      outline: 0; /* Remove the default focus outline */
      box-shadow: none !important; /* Remove the default box shadow */
      border-color: inherit;
      border-right: 1px solid #a2a3a5;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  // openings //
  
  @mixin textFilter() {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  
    color: #5f5e61;
  }
  
  @mixin defaultInput() {
    box-shadow: none !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-color: transparent;
    padding: 0.3rem 2rem;
  }
  @mixin defaultInputSearc() {
    box-shadow: none !important;
    border: none;
    border-color: transparent;
    padding: 0.3rem 2rem;
  }
  @mixin defaultSelect() {
    box-shadow: none !important;
    border: 1px solid #3b32c0 !important;
    border-color: transparent;
    padding: 0.375rem 3.5rem;
    color: #666;
    font-size: 18px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  @mixin defaultSelectlogin() {
    box-shadow: none !important;
    border: 1px solid #3b32c0 !important;
    border-color: transparent;
    padding: 0.1rem 1rem;
    color: #666;
    font-size: 18px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  @mixin candidate-status {
    background: $white;
    cursor: pointer;
    box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.01), 2px 3px 2px rgba(0, 0, 0, 0.05),
      1px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 1px rgba(0, 0, 0, 0.1),
      0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 40%;
    height: 32px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  
    margin-left: 2%;
  }
  
  // Update Profile Component
  @mixin update-profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  @mixin update-profile-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 22%;
  }
  
  @mixin update-profile-formGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
  
  @mixin update-profile-label {
    color: #666;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    width: 8%;
    text-align: left;
    width: 100%;
  }
  
  @mixin update-profile-input {
    border-radius: 8px;
    border: 1px solid $input;
    box-shadow: none !important;
    background: var(--w-background, #fff);
    height: 60px;
    width: 100%;
  }
  
  @mixin update-profile-country-list {
    border-radius: 8px;
    border: 1px solid $input;
    width: 100%;
    height: 60px;
    background: var(--w-background, #fff);
    .css-13cymwt-control,
    .css-t3ipsp-control {
      height: 100% !important;
      width: 100%;
      border-color: transparent !important;
      position: static;
      border-radius: 0;
      margin: auto;
      justify-content: center;
      box-shadow: none;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
    }
    .css-1fdsijx-ValueContainer {
      width: 100%;
      outline: none;
      height: 35px;
      border-color: transparent !important;
    }
    .css-1xc3v61-indicatorContainer {
      width: 100%;
      border-color: transparent;
    }
    .css-qbdosj-Input {
      grid-template-columns: max-content;
      width: 100%;
      border-color: transparent !important;
    }
    .css-1jqq78o-placeholder,
    #react-select-3-placeholder {
      font-size: 12px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.304px;
    }
  }
  
  @mixin update-profile-formGroup-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    margin-top: 2rem;
    margin-right: 20%;
  }
  
  @mixin update-profile-button {
    width: 12%;
    height: 35px;
    background: $backgroundButtons;
    box-shadow: $shadowButtons;
    border-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    margin-right: 7.5%;
    border-radius: 8px;
  }
  
  @mixin button-style {
    width: fit-content;
    height: 35px;
    background: $backgroundButtons;
    box-shadow: $shadowButtons;
    border-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    // font-size: 19px;
    line-height: 18px;
    color: #ffffff;
  }
  
  @mixin label-style {
    color: #666;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* identical to box height, or 150% */
  
    color: #666666;
  }
  