@use "sass:math";
@mixin boxShadowWithColor($color) {
  box-shadow: 0px 4px 4px $color;
}
@mixin animationTransition() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@mixin borderRadius($value) {
  border-radius: $value;
  @include media-query(tablet) {
    border-radius: $value / 2;
  }
  @include media-query(mobile) {
    border-radius: $value / 3;
  }
}
@mixin btn-link($color, $colorHover, $fontSize, $fontWeight, $textAlign) {
  text-decoration: none;
  background: none;
  border: 0;
  text-align: $textAlign;
  padding: 0;
  color: $color;
  font-weight: $fontWeight;
  font-size: $fontSize;
  @include media-query(mobile) {
    font-size: 12px;
  }
  &:hover,
  &:active {
    color: $colorHover;
  }
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    outline: none;
  }
}
@mixin btn-style(
  $txt-color,
  $bg-color,
  $text-transform,
  $font-size,
  $border-color,
  $border-width
) {
  color: $txt-color !important;
  border-radius: 10px;
  background: $bg-color;
  border: $border-width solid $border-color;
  padding: 8px 26px !important;
  @include boxShadowWithColor($boxShadowColor);
  text-transform: $text-transform;
  text-decoration: none;
  font-size: $font-size;
  text-align: center;
  &:hover {
    color: $bg-color !important;
    background: $txt-color;
  }
  @include media-query(mobile, tablet) {
    @if $font-size == "20px" {
      font-size: 16px;
    }
    @if $font-size == "30px" {
      font-size: 16px;
    } @else {
      font-size: 16px;
    }
  }
}
@mixin paragraph-style($color, $text-align) {
  padding: 0;
  font-size: 18px;
  color: $color;
  font-weight: 400;
  text-align: $text-align;
  @include media-query(tablet, mobile) {
    font-size: 16px;
  }
}
@mixin activeIconStyle(){
  
}
//  --------- media-query --------
$media-queries: (
  extraLargeScreens: (
    breakpoint: "(min-width: 1201px)",
  ),
  desktop: (
    breakpoint: "(min-width: 1025px) and (max-width: 1200px)",
  ),
  laptops: (
    breakpoint: "(min-width: 769px) and (max-width: 1024px)",
  ),
  tablet: (
    breakpoint: "(min-width: 480px) and (max-width: 768px)",
  ),
  mobile: (
    breakpoint: "(max-width: 480px)",
  ),
);
@mixin media-query($sizes...) {
  @each $size in $sizes {
    $value: map-get($media-queries, $size);

    @if $value != null {
      $breakpoint: map-get($value, breakpoint);

      @if $breakpoint != null {
        @media only screen and #{$breakpoint} {
          @content;
        }
      }
    }
  }
}
