// Colors
$grey:#F3F3F3;
$white:#FFFFFF;
$red:#FF0000;
$violet:#3b32c0;
$input:#0d6efd;

$darkPurple : #3B32C0;
$black : #000000 ;
$darkBlue: #11263C;
$lightPurple: #79A7FF;
$lightPurple2: #5C6FE1;
$darkGrey: #A2A3A5;
$lightGrey: #F3F3F3;
$boxShadowColor: #00000010;
$whiteOpacity0: #ffffff00;
$disabledGrey : #f2f2f2;
// DIMENSIONS
$widthClosedSidebar: 86px;
$widthOpenedSidebar: 220px;



// FONTS


// BORDER


// SHADOWS


// GRADIENT
$backgroudGradient: linear-gradient(180deg, #6D63FF 0%, #3B32C0 100%);
$backgroundButtons: linear-gradient(211deg, #79A7FF 0%, #5D71E2 45.83%, #5C6FE1 45.84%, #3B32C0 100%);
$shadowButtons: 1px 2px 5px -1px rgba(0, 0, 0, 0.20);

$linearGradientPurple259Deg :linear-gradient(259deg, #79A7FF 12.51%, #5D71E2 62.17%, #5C6FE1 62.18%, #3B32C0 120.85%) ;

$boxShadow: 0px 4px 4px $boxShadowColor;