@import "~bootstrap/dist/css/bootstrap.css";
@import "./utilities";
@import "./variables";
// to delete
@import "./mixins";
// to delete

@import "./login/login.scss";
@import "./header/header.scss";
@import "./profil/update-profile.scss";
@import "./profil/modal.scss";




@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-Black.ttf") format("ttf"),
    url("./../fonts/Poppins/Poppins-Bold.ttf") format("ttf");
}
.row
{
  margin: 0;
  padding: 0;
}
