#login {
    &-page {
      background-image: url("./../../images/bg-login.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      max-height: 100%;
      width: 100%;
      display: flex;
    }
    &-form {
      background-color: white;
      margin: auto;
      // width: 80%;
      height: auto;
      padding: 2% 40px;
      box-shadow: $boxShadow;
      @include borderRadius(48px);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      @include media-query(extraLargeScreens, desktop, laptops) {
        width: 40%;
        height: 80%;
      }
      @include media-query(mobile) {
        padding: 10px;
        width: 95%;
        margin: 10px auto;
      }
      .row {
        width: 100%;
        justify-content: center;
      }
      .top-section {
        justify-content: center;
        margin-bottom: 25px;
        .logo {
          width: auto;
        }
        .title {
          color: $darkPurple;
          text-align: center;
          font-size: 28px;
        }
        .sub-title {
          margin: auto;
          color: $lightPurple2;
          text-align: center;
          font-size: 20px;
        }
      }
      .btn-forget-password,
      .btn-back-login {
        @include btn-link($darkPurple, $lightPurple2, 18px, 600, left);
        margin: 24px 0 15px;
        text-decoration: underline;
      }
      .description {
        @include paragraph-style($darkGrey, center);
      }
      .submit-form {
        margin: 24px 0 15px;
        @include btn-style($lightGrey, $darkPurple, initial, 20px, $lightGrey, 0);
      }
    }
  }
  